:root {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #eeeeee;
    --dark: #343a40;
    --font-family: 'Raleway', sans-serif;
}

html, body {
    background-color: var(--light);
    font-family: var(--font-family);
    font-size: 15px;
}

.form-title {
    text-align: center;
}

.form-title h1 {
    padding: 0 1rem;
}

.color-red {
    color: var(--danger);
}

.form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.form-steps {
    display: flex;
    justify-content: center;
    height: 15%;
    margin: 1.2rem 0;
}

.form-steps p {
    text-align: center;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 80vh;
    margin-top: 1.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-steps-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 90%;
}

.form-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 90%;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    min-height: 4rem;
    margin: 0.5rem 0;
}

.form-group label {
    padding: 0.8rem;
    width: 50%;
}

.form-group select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 20%;
    margin: 1.5rem 0;
}

.form-buttons button {
    font-family: var(--font-family);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-buttons .next-button {
    background-color: var(--primary);
    color: #ffffff;
}

.form-buttons .next-button:hover {
    background-color: #0056b3;
}

.form-buttons .next-button:disabled, .form-buttons .next-button:disabled:active {
    background-color: #ccc;
    box-shadow: none;
    color: #ffffff;
    cursor: not-allowed;
}

.form-buttons .next-button:active {
    background-color: #014d9e;
    color: #e0e0e0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
}

.form-buttons .back-button {
    background-color: var(--secondary);
    color: #ffffff;
}

.form-buttons .back-button:hover {
    background-color: #4e555b;
}

.form-buttons .back-button:active {
    background-color: #42484d;
    color: #e0e0e0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
}

.form-buttons .final-submit-button {
    background-color: var(--success);
    color: #ffffff;
}

.form-buttons .final-submit-button:hover {
    background-color: #218838;
}

.form-buttons .final-submit-button:disabled, .form-buttons .final-submit-button:disabled:active {
    background-color: #ccc;
    box-shadow: none;
    color: #ffffff;
    cursor: not-allowed;
}

.form-buttons .final-submit-button:active {
    background-color: #1e7e34;
    color: #e0e0e0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
}

.popup-result {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.popup-result .result-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.result-header .header-title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.header-title h2 {
    padding: 0.5rem;
    margin: 0.2rem 0;
}

.popup-result .header-close-button-container {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 5%;
}

.header-close-button-container button {
    padding: 0.12rem 0.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header-close-button-container button:focus {
    outline: none;
}

.popup-result .popup-result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .form-group {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .form-steps-page-container {
        width: 95%;
    }
    .form-page-container {
        width: 100%;
    }
    .form-group {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .form-group {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
    }

    .form-group label, .form-group select {
        width: 100%;
    }
}

